{
  "root": true,
  "extends": ["plugin:@bam.tech/recommended", "plugin:@bam.tech/a11y"],
  "overrides": [
    {
      "files": ["*.test.tsx"],
      "extends": "plugin:@bam.tech/tests"
    }
  ],
  "rules": {
    "@bam.tech/require-named-effect": "error",
    "@bam.tech/no-different-displayname": "error"
  }
}
